﻿@model IEnumerable<CarpoolManagerMvcWEB.Models.UserModel>

@{
    ViewData["Title"] = "Index";
}

<h1>User Managment</h1>

<p>
    <a asp-action="CreateUser">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Password)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TblUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.TblUserId  }) |
                    @Html.ActionLink("CarDetails", "CarDetails", new { id=item.TblUserId  }) |
                    @Html.ActionLink("Persons under authority", "PersonsUnderAuthorityDetails", new { id=item.TblUserId  }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.TblUserId })
            </td>
        </tr>
}
    </tbody>
</table>
