﻿@model IEnumerable<CarpoolManagerMvcWEB.Models.CarModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="CarProfile" >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.TblCarId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalNumberOfSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyCar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.TblCarId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNumberOfSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyCar)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.TblCarId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.TblCarId }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.TblCarId })
            </td>
        </tr>
}
    </tbody>
</table>
