﻿@model IEnumerable<CarpoolManagerMvcWEB.Models.PersonsUnderAuthorityModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.TblPersonsUnderAuthorityId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.TblUserId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.TblPersonsUnderAuthorityId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.TblUserId)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.TblPersonsUnderAuthorityId  }) |
                   @* @Html.ActionLink("Details", "Details", new {  id=item.TblPersonsUnderAuthorityId  }) |*@
                    @Html.ActionLink("Delete", "Delete", new {  id=item.TblPersonsUnderAuthorityId  })
            </td>
        </tr>
}
    </tbody>
</table>
