﻿@using CarpoolManagerMvcWEB.Models
@model CarpoolManagerMvcWEB.Models.UserModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditUserInfo">Edit</a>
</div>
<div>
    <hr />
    <h4>Addresses</h4>
    <hr />
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameForInnerType((AddressModel addressModel) => addressModel.Street)
            </th>
            <th>
                @Html.DisplayNameForInnerType((AddressModel addressModel) => addressModel.Number)
            </th>
            <th>
                @Html.DisplayNameForInnerType((AddressModel addressModel) => addressModel.UnitNumber)
            </th>
            <th>
                @Html.DisplayNameForInnerType((AddressModel addressModel) => addressModel.City)
            </th>
            <th>
                @Html.DisplayNameForInnerType((AddressModel addressModel) => addressModel.State)
            </th>
            <th>
                @Html.DisplayNameForInnerType((AddressModel addressModel) => addressModel.PostalCode)
            </th>
            <th>
                @Html.DisplayNameForInnerType((AddressModel addressModel) => addressModel.Country)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (AddressModel address in ViewBag.AddressList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => address.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => address.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => address.UnitNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => address.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => address.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => address.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => address.Country)
            </td>
            <td>
                <a asp-action="EditAddress" asp-route-id="@address.TblAddressId">Edit</a> |
                <a asp-action="DeleteAddress" asp-route-id="@address.TblAddressId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
    </table>
</div>
<div>
    <a asp-action="AddAddress">Add adress</a>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Homepage</a>
</div>
